<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Editor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Editor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Editor.Properties.Settings>
            <setting name="DepthMeterOffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DepthUnits" serializeAs="String">
                <value>Feet</value>
            </setting>
            <setting name="DistanceUnits" serializeAs="String">
                <value>NauticalMiles</value>
            </setting>
            <setting name="IncludeDepth" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MostRecentFile" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveTrackAsLayer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveWaypointAsLayer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpgradeRequested" serializeAs="String">
                <value>True</value>
            </setting>
        </Editor.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Editor.Properties.Settings>
            <setting name="MapServiceKey" serializeAs="String">
                <value>AiOZFEZdEmq_wc2MzSWNRiLJeW3P_vHYTHVYivmFWzPtsnKFb-WwIsxTm3WTyCwe</value>
            </setting>
        </Editor.Properties.Settings>
    </applicationSettings>
</configuration>